<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript">
	var employeeApp=angular.module("employeeApp",[]);
	employeeApp.controller("employeeController",['$scope','$http','$log',($scope,$http,$log)=>{
		$scope.getData=()=>{
			$http({url:'getEmployeeById?empId='+$scope.empId,method:'GET'})
			.then(
					(response)=>
					{
						console.log(response.data)
						$scope.emp=response.data[0];
						
					},
					(err)=>
					{
						$log.error(err);
					}
				);
		}
	}]);
	
	
</script>
</head>
<body x-ng-app="employeeApp" x-ng-controller='employeeController'>
	Enter EmpID : <input type="number" x-ng-model='empId'>
	<input type="button" value="get Data" x-ng-click="getData()">
	<div x-ng-if='emp!=null'>
		<table border=1>
			<tr>
				<th style="background-color: olive;">Emp Id</th>
				<th style="background-color: olive;">Emp Name</th>
				<th style="background-color: olive;">Emp Salary</th>
				<th style="background-color: olive;">Emp Designation</th>
			</tr>
			<tr>
				<td>{{emp.empId}}</td>
				<td>{{emp.empName}}</td>
				<td>{{emp.empSalary}}</td>
				<td>{{emp.empDesignation}}</td>
			</tr>
		</table>
	</div>
</body>
</html>